/* app css stylesheet */
#container 
{
    margin: 0px auto;
}

.row 
{
    margin-left: 0px;
}

header .row, footer .row 
{
    margin-left: 8px;
}

header .row 
{
    background-color: darkcyan;
    height: 110px; 
}

header .row  h2 
{
    text-align: center;
}

 [class*="span"] {
    margin-left: 8px;
  }

.row 
{
    margin-bottom: 8px;
}

#guidelines 
{
    background-color: aqua;
    height: 160px; 
}

#countryInformation 
{
    background-color: chocolate;
    height: 160px; 
}

#carousel 
{
    background-color: bisque;
    height: 328px; 
}

#caseStudies 
{
    background-color: brown;
    height: 160px; 
}

#globalSupportProgramme 
{
    background-color: blue;
    height: 160px; 
}

#mainFooter.row 
{
    margin-top: -8px;
}

#mainFooter div
{
    background-color: darkgreen;
    height: 220px; 
}

footer .row
{
    background-color: firebrick;
    height: 40px; 
}

@media (min-width: 1200px) 
{

    #container 
    {
        margin-left: 40px;
        width: 1196px;
    }

    .span2 
    {
        width: 590px;
    }
}

@media (max-width: 767px) 
{
    header .row, footer .row {
        width: 100%;
    }
}