/* app css stylesheet */
#container 
{
    margin: 0px auto;
}

.row 
{
    margin-left: 0px;
    margin-bottom: 8px;
}

.visible-tablet .row 
{
    margin-bottom: 2px;
}

header .row.visible-desktop, footer .row.visible-desktop 
{
    margin-left: 8px;
}

header .row.visible-tablet, footer .row.visible-tablet 
{
    margin-left: 2px;
}

header .row 
{
    background-color: darkcyan;
    height: 110px; 
}

header .row  h2 
{
    text-align: center;
}

.visible-desktop [class*="span"] {
    margin-left: 8px;
  }

.visible-tablet [class*="span"] {
    margin-left: 2px;
  }

.row.visible-desktop
{
    margin-bottom: 8px;
}

.row.visible-tablet 
{
    margin-bottom: 4px;
}

.infoBoxBorder
{
    border: 1px solid #CCC;
}

#guidelines,  #guidelinesTablet
{
    background-color: aqua;
    height: 160px; 
}

.visible-tablet #guidelines
{
    height: 158px; 
}

.visible-phone #guidelines img 
{
    margin: 15px auto;
}

#countryInformation, #countryInformationTablet 
{
    background-color: chocolate;
    height: 160px; 
}

.visible-tablet #countryInformation 
{ 
}

.visible-desktop #carousel
{
    background-color: bisque;
    height: 328px;
}

.visible-desktop .carousel-inner > .item > img,
.visible-desktop .carousel-inner > .item > a > img 
{
    margin-left: 0px;
}

.visible-tablet #carouselTablet 
{
    background-color: bisque;
    height: 328px;
    margin: 0px 3px 0px 0px;
}

#caseStudies, #caseStudiesTablet
{
    background-color: brown;
    height: 160px; 
}

#globalSupportProgramme, #globalSupportProgrammeTablet
{
    background-color: blue;
    height: 160px; 
}

.visible-phone #globalSupportProgramme .thumbnail
{
    margin: 15px auto;
}

#mainFooter.visible-desktop div
{
    background-color: darkgreen;
    height: 220px; 
    margin-top: -8px;
}

#mainFooter.visible-tablet div
{
    background-color: darkgreen;
    height: 220px; 
    margin-top: -2px;
}

footer .row
{
    background-color: firebrick;
    height: 40px; 
}

@media (min-width: 1200px) 
{

    #container 
    {
        margin-left: 40px;
        width: 1196px;
    }

    .span2 
    {
        width: 590px;
    }
}

@media (max-width: 767px) 
{
    header .row, footer .row {
        width: 100%;
    }
}