/* app css stylesheet */

.row
{
    margin-left: 0px;
}

#index 
{
    background-color: orange;
    width: 30px;
    height: 20px;
    top: 0px;
    left: 50px;
    text-align: center;
    z-index: 9999;
}

#index .accordion-heading
{
    background-color: inherit;
}

#index .accordion-heading .accordion-toggle
{
    padding: 2px 0px;
}
#index .accordion-body
{
    background-color: inherit;
    margin-left: -40px;
}

#index .accordion-body.span1
{
    min-height: 0px;
}

#content 
{
    padding-top: 30px;
    background-color: aqua;
    height: auto;
    position: relative;
}

#contentNavigationMenu 
{
    position: absolute;
    top: 0px;
    z-index: 1000;
}

#elementList, #stepList 
{
    left: -60px;
    text-align:left;
    list-style-type: none;
}

/*
    Content: start
*/

.close 
{
    color: white;
    opacity: 0.6;
}

.close:hover, .close:focus 
{
    color: white;
    opacity: 1.0;
}

.tGuide_sandyBox 
{
    background-color: #5B98CE;
    color: white;
}

.tGuide_sandyBox_inner
{
    padding: 8px;
}

.tGuide_blueBox
{
    background-color: #EEF1FA;
}

ul.selectedReferences
{
    list-style-type: none;
}

ul.selectedReferences li
{
    padding: 8px 0px;
}

.tGuide_blueBox_inner
{
    padding: 8px;
    color: Black;
}

.gallery-item 
{
    margin-top: 10px;
    display: block;
    cursor: pointer;
}

/*
    Content: end
*/

@media (min-width: 1200px) 
{

}

@media (min-width: 980px) 
{

}

@media (min-width: 768px) and (max-width: 979px) 
{

}

@media (max-width: 767px) 
{

}